body {
  height: 100%;
  background-color: rgb(165, 162, 162);

}

body.loaded {
  background-color: yellowgreen;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .medidas-select {
    top: 28%;
    left: 60%;
  }
}

@media (min-width: 1024px) {

  .title {
    font-size: 5em;
  }

  .medidas-select {
    top: 28%;
    left: 60%;
  }
}