body {
  height: 100%;
  background-color: rgb(165, 162, 162);

}

body.loaded {
  background-color: yellowgreen;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}